.about{
    width: 100%;
    height: 50vh;
    background-color: rgb(2, 41, 2);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card{
    display: flex;
    
}

.card i{
    font-size: 35px;
    color: #fff;
    padding-top: 17.5px;
}

.text{
    margin-left: 20px;
}

.cards{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card h4{
    color: rgb(11, 190, 11);

}

.card h5{
    color:#fff;
}

.card .icon:hover{
    animation: myanim 2s forwards;
}

@keyframes myanim {
    0%{color: #fff;}
    100%{color: green;}
}



@media(max-width:600px){
    .about{
        width: 100%;
        padding-top: 20vh;
        height: fit-content;
    }

    .cards{
        display: block;
        padding-block: 20px;
    }

    .card{
        margin-top: 10px;
        margin-bottom: 10px;

    }

    

    

}